<section class="home" id="tohome">
	<div class="container">
		<div class="home__inner">
			<div class="home__text">
				<h3 class="home__text-title super-title">
					Lorem, ipsum.
					<span class="home__text-title-dao super-title">LOL</span> Lorem
				</h3>
				<p class="home__text-subtitle sub-title">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet enim
					magnam laudantium?
				</p>
			</div>
			<a
				href="https://superdao.typeform.com/getaccess"
				target="_blank"
				class="home__btn"
				>Get button</a
			>
		</div>
		<div class="opacity"></div>
	</div>
	<div class="animation-wrapper">
		<div class="particle particle-1"></div>
		<div class="particle particle-2"></div>
		<div class="particle particle-3"></div>
		<div class="particle particle-4"></div>
	</div>
</section>
